<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>
      <servlet-name>productadd</servlet-name>
         <servlet-class>serpro.ProductAdd</servlet-class>
        </servlet>
   
   
   
    <servlet-mapping>
        <servlet-name>productadd</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>


    </web-app>
